body {
    font-family: "Segoe UI", sans-serif;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 18px;
    font-family: "Segoe UI", sans-serif;
}

.sidenav a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.withimage {
    background-image: url("image/1111.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size:  7% ;
}
.withimage:hover {
    background-image: url("image/Vr Pornstars red.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size:  7%;
}

.withimagemail {
    background-image: url("image/mail.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
}
.withimagemail:hover {
    background-image: url("image/contact us red.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
}

.howtowatch {
    background-image: url("image/question.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
}
.howtowatch:hover {
    background-image: url("image/how to watch red.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
}
.filtersss {
    background-image: url("image/fil.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
}
.filtersss:hover {
    background-image: url("image/Filter red.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
}



.sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
    font-weight: 300;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
    padding-bottom: 10%;
    margin-bottom: 15%;
}
.form-control{
    background-color: #333333;
    border-color: transparent;
    height: 25px;
    font-size: 13px;
}
.search{
    background-color: #141414;
    border-color: transparent;
    height: 50px;
    font-size: 18px;
}

.modal-content {
    position: relative;
    background-color: #101010;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-body {
    position: relative;
    padding: 0;
    border-radius: 8px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none!important;
}
.modal {
    position: fixed;
    top: 0;
    right: -20px;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
 .inside{
    padding: 0!important;
}
 .inside_carousel{
     background-color: #0488e5;
     margin-left: 5%;
     width: 90%;
     height: 20%;
 }
 .inside_carousel2{
     background-color: red;
     margin-left: 5%;
     width: 90%;
     height: 20%;
 }
.btn {
    display: inline-block;
    overflow: hidden;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.btn1 {
    display: inline-block;
    overflow: hidden;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top: 3%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}

.third {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin-left: 5%;
}
/** Displays Warning if required property is not supported. **/
@supports (scroll-snap-type: mandatory) or (-webkit-scroll-snap-type: mandatory) {
    .is-not-supported {display: none;}
}

/** Generic Styling & Formatting **/
body * {box-sizing: border-box;}
body {
    margin: 0;
    font-family: helvetica, arial, sans-serif;
}
.content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/** Pure CSS Slider **/
.slider {
    position: relative;
    width: 92%;
    height: 40%;
    margin: 2rem auto;
    background: #101010;
}
.slider .slides {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /** Thank you Sergey! http://blog.gospodarets.com/css-scroll-snap/ **/
    scroll-snap-points-x: repeat(100%);
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat(100%);
    font-size: 0;
    /** **/
}
.slider .slide {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.slider .slide p {
    position: absolute;
    display: block;
    bottom: 0; left: 0;
    width: 100%;
    font-size: 1rem;
    color: #262626;
    background: rgba(179, 255, 0, 0.15);
    padding: 1em;
    margin: 0;
    white-space: normal;
}
/*.slider #slide-1 {background: #afa;}*/
/*.slider #slide-2 {background: #ffa;}*/
/*.slider #slide-3 {background: #faa;}*/
/*.slider #slide-4 {background: #aff;}*/

.slider-buttons {
    position: absolute;
    top: 0; right: 0;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: right;
    z-index: 2;
}
.slider-buttons a {
    width: 2em;
    display: inline-block;
    background: rgba(0,0,0,0.15);
    text-align: center;
    padding: 0.5em 0;
    text-decoration: none;
    color: #000;
}


/** Chrome Scroll Wheel **/

::-webkit-scrollbar {
    height: 34px;
}
::-webkit-scrollbar-track {
    background: #101010;
}
::-webkit-scrollbar-thumb {
    background: #101010 url('image/RoundedRectangle 1.png') center  no-repeat;
    background-size: contain;
    border-radius: 8px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    position: absolute;
    top: 0;
    display: block;
    height: 0px;
    width: 0px;
    background: #000000;
    background-size: 100%;
}
::-webkit-scrollbar-button:end:increment {
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/arrow.png);*/
}


/** Alert Box **/
.is-not-supported {
    width: 100%;
    margin: 2rem auto;
    background: #101010;
    padding: 1em;
}
.is-not-supported p {margin: 0;}

@media (max-width: 600px) {

    .content {width: 100%;background-color: #101010}

}
.navbar-toggle {
    border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
    background: transparent !important;
}
.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
    opacity: 0;
}
.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}
header .navbar-inverse ul.navbar-nav li a:hover:after {
    background-color: black;
}
.navbar-inverse:hover{
    border: none!important;
}
.firstcont .firstcont:hover{
    border:none!important; ;
}
.navbar-header{
    border:none!important; ;

}
.navbar-header:hover{
    border:none!important; ;
    border-bottom: none;

}
.navbar-header:active{
    border:none!important; ;
}
.navbar-header:after{
    border:none!important; ;
    border-bottom: none;

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    border: none;
}
.navbar-inverse:hover .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    border: none;
    border-bottom: none;
}
.navbar-inverse:after .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    border: none;
}
.navbar-inverse:active .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    border: none;
}
.navbar-collapse:hover{
    border: none;
}
.navbar-nav .open .dropdown-menu>li>a {
    padding: 15px 21px 5px 45px!important;
}
.navbar-collapse:after{
    border: none;
}
.navbar-collapse:active{
    border: none;
}
p {
    margin: 12px 0px 10px;
}
/*::-webkit-scrollbar-thumb {*/
   /*background: transparent!important;;*/
    /*background-size: contain;*/
    /*border-radius: 8px;*/
/*}*/
/*::-webkit-scrollbar-track {*/
     /*background: #101010!important;*/
/*}*/

.klass{
    background-image: url("image/like1.png") ;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    width: 10%;
    float: right;
}
.dislike{
    background-image: url("image/dislike.png") ;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    width: 10%;
    float: left;
}
.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}
.fade{
    padding-left: 0px!important;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ff001f;
}
.navbar-inverse div.navbar-collapse
{
    border-top:none;
    box-shadow:none;
}
.navbar-default{
    border: none;
}
.navbar-inverse .navbar-nav .dropdown.open a:focus {
        color: red;

}

.spanss:active:hover{
    color: red;
    font-size: medium;

}

.navbar-nav {
    margin: 10px -15px;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 20px;
}
.loadmore{
    border-radius: 0!important;
    width: 50%;
    background-color: #333333;
    margin-left: 25%;
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-size: large;
}
.form-group{
    width: 90%;
    margin-left: 5%;
    font-family: "Segoe UI", sans-serif;
    color: white;
}
input[type=text] {  color: white;  }
textarea:focus, input:focus {
    color: white;
}
input, select, textarea{
    color: white;
}
input, select, textarea{
    color: white;
}
.submit{
    background-color: #333333;
    color: white;
    font-family: "Segoe UI", sans-serif;
    width: 90%;
    font-size: large;
}

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
.navbar-nav .open .dropdown-menu>li>a {
    padding: 10px 15px 5px 25px;
}